<% layout("/layouts/boilerplate.ejs")%>
<div class="row mt-3">
<div class="col">
    <h3>Edit your list</h3>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation">
        <div class="mb-2">
            <label for="title" class="form-label">Title</label><br>
            <input name="listing[title]" value="<%=listing.title%>" type="text" class="form-control" required>
            <div class="valid-feedback">Title looks good</div>
        </div>
        <div class="mb-2">
            <label for="description" class="form-label">Description</label><br>
            <textarea name="listing[description]"  type="text" class="form-control" required><%=listing.description%></textarea>
            <div class="invalid-feedback">please enter description</div>
        </div>
        <div class="mb-2">
            <label for="image" class="form-label">Image link</label><br>
            <input name="listing[image]" value="<%=listing.image.url%>"  type="text" class="form-control" required>
            <div class="invalid-feedback">please enter valid url</div>
        </div>
        <div class="row row-cols-md-2">
        <div class="mb-2 col-4">
            <label for="price" class="form-label" required>Price</label><br>
            <input name="listing[price]" value="<%=listing.price%>"  type="number" class="form-control" required>
            <div class="invalid-feedback">price should be valid</div>
        </div>
        
        <div class="mb-2 col-8">
            <label for="country" class="form-label">Country</label><br>
            <input name="listing[country]" value="<%=listing.country%>"  type="text" class="form-control" required>
            <div class="invalid-feedback">country should be valid</div>
        </div>
        </div>
        <div class="mb-2">
            <label for="location" class="form-label">Location</label><br>
            <input name="listing[location]" value="<%=listing.location%>"  type="text" class="form-control" required>
            <div class="invalid-feedback">location should be valid</div>
            <br><br>
        <button class="btn btn-dark  edit-btn mt-3">EDIT</button>
    </form>
</div>
</div>
